body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1975px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1255 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1256_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1945px;
  height:1699px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1256 {
  position:absolute;
  left:30px;
  top:30px;
  width:1945px;
  height:1699px;
}
#u1257 {
  position:absolute;
  left:2px;
  top:842px;
  width:1941px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1258_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1773px;
  height:40px;
  background:inherit;
  background-color:rgba(246, 198, 225, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1258 {
  position:absolute;
  left:30px;
  top:30px;
  width:1773px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1259 {
  position:absolute;
  left:2px;
  top:11px;
  width:1769px;
  word-wrap:break-word;
}
#u1260_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u1260 {
  position:absolute;
  left:310px;
  top:120px;
  width:40px;
  height:40px;
}
#u1261 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1262 {
  position:absolute;
  left:330px;
  top:160px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:11px;
  color:#999999;
}
#u1262_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:48px;
}
#u1262_seg1 {
  position:absolute;
  left:-10px;
  top:30px;
  width:20px;
  height:21px;
}
#u1263 {
  position:absolute;
  left:-50px;
  top:14px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1264_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:60px;
}
#u1264 {
  position:absolute;
  left:270px;
  top:204px;
  width:120px;
  height:60px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1265 {
  position:absolute;
  left:2px;
  top:21px;
  width:116px;
  word-wrap:break-word;
}
#u1266_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u1266 {
  position:absolute;
  left:310px;
  top:1260px;
  width:40px;
  height:40px;
}
#u1267 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1268 {
  position:absolute;
  left:270px;
  top:234px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:11px;
  color:#999999;
}
#u1268_seg0 {
  position:absolute;
  left:-212px;
  top:-4px;
  width:212px;
  height:8px;
}
#u1268_seg1 {
  position:absolute;
  left:-212px;
  top:-4px;
  width:8px;
  height:900px;
}
#u1268_seg2 {
  position:absolute;
  left:-218px;
  top:882px;
  width:20px;
  height:21px;
}
#u1269 {
  position:absolute;
  left:-258px;
  top:336px;
  width:100px;
  word-wrap:break-word;
}
#u1270 {
  position:absolute;
  left:330px;
  top:264px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:11px;
  color:#999999;
}
#u1270_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:62px;
}
#u1270_seg1 {
  position:absolute;
  left:-10px;
  top:44px;
  width:20px;
  height:21px;
}
#u1271 {
  position:absolute;
  left:-50px;
  top:21px;
  width:100px;
  word-wrap:break-word;
}
#u1272_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1272 {
  position:absolute;
  left:270px;
  top:322px;
  width:120px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1273 {
  position:absolute;
  left:2px;
  top:11px;
  width:116px;
  word-wrap:break-word;
}
#u1274 {
  position:absolute;
  left:330px;
  top:1210px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:11px;
  color:#999999;
}
#u1274_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:54px;
}
#u1274_seg1 {
  position:absolute;
  left:-10px;
  top:36px;
  width:20px;
  height:21px;
}
#u1275 {
  position:absolute;
  left:-50px;
  top:17px;
  width:100px;
  word-wrap:break-word;
}
#u1276_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u1276 {
  position:absolute;
  left:42px;
  top:1130px;
  width:40px;
  height:40px;
}
#u1277 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1278_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1278 {
  position:absolute;
  left:270px;
  top:403px;
  width:120px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1279 {
  position:absolute;
  left:2px;
  top:11px;
  width:116px;
  word-wrap:break-word;
}
#u1280_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1280 {
  position:absolute;
  left:82px;
  top:491px;
  width:120px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1281 {
  position:absolute;
  left:2px;
  top:11px;
  width:116px;
  word-wrap:break-word;
}
#u1282_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1282 {
  position:absolute;
  left:270px;
  top:491px;
  width:120px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1283 {
  position:absolute;
  left:2px;
  top:11px;
  width:116px;
  word-wrap:break-word;
}
#u1284_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1284 {
  position:absolute;
  left:477px;
  top:491px;
  width:120px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1285 {
  position:absolute;
  left:2px;
  top:11px;
  width:116px;
  word-wrap:break-word;
}
#u1286 {
  position:absolute;
  left:330px;
  top:362px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:11px;
  color:#999999;
}
#u1286_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:45px;
}
#u1286_seg1 {
  position:absolute;
  left:-10px;
  top:27px;
  width:20px;
  height:21px;
}
#u1287 {
  position:absolute;
  left:-50px;
  top:12px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1288 {
  position:absolute;
  left:330px;
  top:443px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:11px;
  color:#999999;
}
#u1288_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:41px;
}
#u1288_seg1 {
  position:absolute;
  left:-192px;
  top:33px;
  width:196px;
  height:8px;
}
#u1288_seg2 {
  position:absolute;
  left:-192px;
  top:33px;
  width:8px;
  height:15px;
}
#u1288_seg3 {
  position:absolute;
  left:-198px;
  top:34px;
  width:20px;
  height:21px;
}
#u1289 {
  position:absolute;
  left:-131px;
  top:29px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1290 {
  position:absolute;
  left:330px;
  top:443px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:11px;
  color:#999999;
}
#u1290_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:52px;
}
#u1290_seg1 {
  position:absolute;
  left:-10px;
  top:34px;
  width:20px;
  height:21px;
}
#u1291 {
  position:absolute;
  left:-50px;
  top:16px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1292 {
  position:absolute;
  left:330px;
  top:443px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:11px;
  color:#999999;
}
#u1292_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:41px;
}
#u1292_seg1 {
  position:absolute;
  left:-4px;
  top:33px;
  width:215px;
  height:8px;
}
#u1292_seg2 {
  position:absolute;
  left:203px;
  top:33px;
  width:8px;
  height:15px;
}
#u1292_seg3 {
  position:absolute;
  left:197px;
  top:34px;
  width:20px;
  height:21px;
}
#u1293 {
  position:absolute;
  left:40px;
  top:29px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1294_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1294 {
  position:absolute;
  left:270px;
  top:660px;
  width:120px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1295 {
  position:absolute;
  left:2px;
  top:2px;
  width:116px;
  word-wrap:break-word;
}
#u1296_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1296 {
  position:absolute;
  left:270px;
  top:742px;
  width:120px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1297 {
  position:absolute;
  left:2px;
  top:11px;
  width:116px;
  word-wrap:break-word;
}
#u1298_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1298 {
  position:absolute;
  left:980px;
  top:742px;
  width:120px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1299 {
  position:absolute;
  left:2px;
  top:11px;
  width:116px;
  word-wrap:break-word;
}
#u1300_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1300 {
  position:absolute;
  left:1644px;
  top:742px;
  width:120px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1301 {
  position:absolute;
  left:2px;
  top:11px;
  width:116px;
  word-wrap:break-word;
}
#u1302 {
  position:absolute;
  left:330px;
  top:700px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:11px;
  color:#999999;
}
#u1302_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:34px;
}
#u1302_seg1 {
  position:absolute;
  left:-4px;
  top:26px;
  width:718px;
  height:8px;
}
#u1302_seg2 {
  position:absolute;
  left:706px;
  top:26px;
  width:8px;
  height:16px;
}
#u1302_seg3 {
  position:absolute;
  left:700px;
  top:28px;
  width:20px;
  height:21px;
}
#u1303 {
  position:absolute;
  left:296px;
  top:22px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1304_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:60px;
}
#u1304 {
  position:absolute;
  left:270px;
  top:1150px;
  width:120px;
  height:60px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1305 {
  position:absolute;
  left:2px;
  top:21px;
  width:116px;
  word-wrap:break-word;
}
#u1306 {
  position:absolute;
  left:1704px;
  top:1092px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:11px;
  color:#999999;
}
#u1306_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:28px;
}
#u1306_seg1 {
  position:absolute;
  left:-1378px;
  top:20px;
  width:1382px;
  height:8px;
}
#u1306_seg2 {
  position:absolute;
  left:-1378px;
  top:20px;
  width:8px;
  height:38px;
}
#u1306_seg3 {
  position:absolute;
  left:-1384px;
  top:44px;
  width:20px;
  height:21px;
}
#u1307 {
  position:absolute;
  left:-742px;
  top:16px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1308 {
  position:absolute;
  left:390px;
  top:1180px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:11px;
  color:#999999;
}
#u1308_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:1567px;
  height:8px;
}
#u1308_seg1 {
  position:absolute;
  left:1559px;
  top:-842px;
  width:8px;
  height:846px;
}
#u1308_seg2 {
  position:absolute;
  left:0px;
  top:-842px;
  width:1567px;
  height:8px;
}
#u1308_seg3 {
  position:absolute;
  left:-7px;
  top:-848px;
  width:21px;
  height:20px;
}
#u1309 {
  position:absolute;
  left:1513px;
  top:-427px;
  width:100px;
  word-wrap:break-word;
}
#u1310_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1310 {
  position:absolute;
  left:934px;
  top:827px;
  width:120px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1311 {
  position:absolute;
  left:2px;
  top:11px;
  width:116px;
  word-wrap:break-word;
}
#u1312_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1312 {
  position:absolute;
  left:1071px;
  top:827px;
  width:120px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1313 {
  position:absolute;
  left:2px;
  top:11px;
  width:116px;
  word-wrap:break-word;
}
#u1314_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1314 {
  position:absolute;
  left:1209px;
  top:827px;
  width:120px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1315 {
  position:absolute;
  left:2px;
  top:11px;
  width:116px;
  word-wrap:break-word;
}
#u1316_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1316 {
  position:absolute;
  left:1345px;
  top:827px;
  width:120px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1317 {
  position:absolute;
  left:2px;
  top:11px;
  width:116px;
  word-wrap:break-word;
}
#u1318_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1318 {
  position:absolute;
  left:1475px;
  top:827px;
  width:120px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1319 {
  position:absolute;
  left:2px;
  top:11px;
  width:116px;
  word-wrap:break-word;
}
#u1320 {
  position:absolute;
  left:1040px;
  top:782px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:11px;
  color:#999999;
}
#u1320_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:32px;
}
#u1320_seg1 {
  position:absolute;
  left:-50px;
  top:24px;
  width:54px;
  height:8px;
}
#u1320_seg2 {
  position:absolute;
  left:-50px;
  top:24px;
  width:8px;
  height:21px;
}
#u1320_seg3 {
  position:absolute;
  left:-56px;
  top:31px;
  width:20px;
  height:21px;
}
#u1321 {
  position:absolute;
  left:-68px;
  top:20px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1322 {
  position:absolute;
  left:1040px;
  top:782px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:11px;
  color:#999999;
}
#u1322_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:32px;
}
#u1322_seg1 {
  position:absolute;
  left:-4px;
  top:24px;
  width:99px;
  height:8px;
}
#u1322_seg2 {
  position:absolute;
  left:87px;
  top:24px;
  width:8px;
  height:21px;
}
#u1322_seg3 {
  position:absolute;
  left:81px;
  top:31px;
  width:20px;
  height:21px;
}
#u1323 {
  position:absolute;
  left:-10px;
  top:20px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1324 {
  position:absolute;
  left:1040px;
  top:782px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:11px;
  color:#999999;
}
#u1324_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:32px;
}
#u1324_seg1 {
  position:absolute;
  left:-4px;
  top:24px;
  width:237px;
  height:8px;
}
#u1324_seg2 {
  position:absolute;
  left:225px;
  top:24px;
  width:8px;
  height:21px;
}
#u1324_seg3 {
  position:absolute;
  left:219px;
  top:31px;
  width:20px;
  height:21px;
}
#u1325 {
  position:absolute;
  left:59px;
  top:20px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1326 {
  position:absolute;
  left:1040px;
  top:782px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:11px;
  color:#999999;
}
#u1326_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:32px;
}
#u1326_seg1 {
  position:absolute;
  left:-4px;
  top:24px;
  width:373px;
  height:8px;
}
#u1326_seg2 {
  position:absolute;
  left:361px;
  top:24px;
  width:8px;
  height:21px;
}
#u1326_seg3 {
  position:absolute;
  left:355px;
  top:31px;
  width:20px;
  height:21px;
}
#u1327 {
  position:absolute;
  left:127px;
  top:20px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1328 {
  position:absolute;
  left:1040px;
  top:782px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:11px;
  color:#999999;
}
#u1328_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:32px;
}
#u1328_seg1 {
  position:absolute;
  left:-4px;
  top:24px;
  width:503px;
  height:8px;
}
#u1328_seg2 {
  position:absolute;
  left:491px;
  top:24px;
  width:8px;
  height:21px;
}
#u1328_seg3 {
  position:absolute;
  left:485px;
  top:31px;
  width:20px;
  height:21px;
}
#u1329 {
  position:absolute;
  left:192px;
  top:20px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1330 {
  position:absolute;
  left:330px;
  top:531px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:11px;
  color:#999999;
}
#u1330_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:46px;
}
#u1330_seg1 {
  position:absolute;
  left:-10px;
  top:28px;
  width:20px;
  height:21px;
}
#u1331 {
  position:absolute;
  left:-50px;
  top:13px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1332 {
  position:absolute;
  left:142px;
  top:531px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:11px;
  color:#999999;
}
#u1332_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:33px;
}
#u1332_seg1 {
  position:absolute;
  left:-4px;
  top:25px;
  width:196px;
  height:8px;
}
#u1332_seg2 {
  position:absolute;
  left:184px;
  top:25px;
  width:8px;
  height:17px;
}
#u1332_seg3 {
  position:absolute;
  left:178px;
  top:28px;
  width:20px;
  height:21px;
}
#u1333 {
  position:absolute;
  left:36px;
  top:21px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1334 {
  position:absolute;
  left:537px;
  top:531px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:11px;
  color:#999999;
}
#u1334_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:33px;
}
#u1334_seg1 {
  position:absolute;
  left:-211px;
  top:25px;
  width:215px;
  height:8px;
}
#u1334_seg2 {
  position:absolute;
  left:-211px;
  top:25px;
  width:8px;
  height:17px;
}
#u1334_seg3 {
  position:absolute;
  left:-217px;
  top:28px;
  width:20px;
  height:21px;
}
#u1335 {
  position:absolute;
  left:-146px;
  top:21px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1336_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1336 {
  position:absolute;
  left:270px;
  top:573px;
  width:120px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1337 {
  position:absolute;
  left:2px;
  top:2px;
  width:116px;
  word-wrap:break-word;
}
#u1338 {
  position:absolute;
  left:330px;
  top:700px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:11px;
  color:#999999;
}
#u1338_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:46px;
}
#u1338_seg1 {
  position:absolute;
  left:-10px;
  top:28px;
  width:20px;
  height:21px;
}
#u1339 {
  position:absolute;
  left:-50px;
  top:13px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1340 {
  position:absolute;
  left:330px;
  top:700px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:11px;
  color:#999999;
}
#u1340_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:34px;
}
#u1340_seg1 {
  position:absolute;
  left:-4px;
  top:26px;
  width:1382px;
  height:8px;
}
#u1340_seg2 {
  position:absolute;
  left:1370px;
  top:26px;
  width:8px;
  height:16px;
}
#u1340_seg3 {
  position:absolute;
  left:1364px;
  top:28px;
  width:20px;
  height:21px;
}
#u1341 {
  position:absolute;
  left:628px;
  top:22px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1342_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1342 {
  position:absolute;
  left:82px;
  top:827px;
  width:120px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1343 {
  position:absolute;
  left:2px;
  top:11px;
  width:116px;
  word-wrap:break-word;
}
#u1344_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1344 {
  position:absolute;
  left:219px;
  top:827px;
  width:120px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1345 {
  position:absolute;
  left:2px;
  top:11px;
  width:116px;
  word-wrap:break-word;
}
#u1346_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1346 {
  position:absolute;
  left:357px;
  top:827px;
  width:120px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1347 {
  position:absolute;
  left:2px;
  top:11px;
  width:116px;
  word-wrap:break-word;
}
#u1348_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1348 {
  position:absolute;
  left:493px;
  top:827px;
  width:120px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1349 {
  position:absolute;
  left:2px;
  top:11px;
  width:116px;
  word-wrap:break-word;
}
#u1350 {
  position:absolute;
  left:330px;
  top:782px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:11px;
  color:#999999;
}
#u1350_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:32px;
}
#u1350_seg1 {
  position:absolute;
  left:-192px;
  top:24px;
  width:196px;
  height:8px;
}
#u1350_seg2 {
  position:absolute;
  left:-192px;
  top:24px;
  width:8px;
  height:21px;
}
#u1350_seg3 {
  position:absolute;
  left:-198px;
  top:31px;
  width:20px;
  height:21px;
}
#u1351 {
  position:absolute;
  left:-138px;
  top:20px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1352 {
  position:absolute;
  left:330px;
  top:782px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:11px;
  color:#999999;
}
#u1352_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:32px;
}
#u1352_seg1 {
  position:absolute;
  left:-55px;
  top:24px;
  width:59px;
  height:8px;
}
#u1352_seg2 {
  position:absolute;
  left:-55px;
  top:24px;
  width:8px;
  height:21px;
}
#u1352_seg3 {
  position:absolute;
  left:-61px;
  top:31px;
  width:20px;
  height:21px;
}
#u1353 {
  position:absolute;
  left:-70px;
  top:20px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1354 {
  position:absolute;
  left:330px;
  top:782px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:11px;
  color:#999999;
}
#u1354_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:32px;
}
#u1354_seg1 {
  position:absolute;
  left:-4px;
  top:24px;
  width:95px;
  height:8px;
}
#u1354_seg2 {
  position:absolute;
  left:83px;
  top:24px;
  width:8px;
  height:21px;
}
#u1354_seg3 {
  position:absolute;
  left:77px;
  top:31px;
  width:20px;
  height:21px;
}
#u1355 {
  position:absolute;
  left:-12px;
  top:20px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1356 {
  position:absolute;
  left:330px;
  top:782px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:11px;
  color:#999999;
}
#u1356_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:32px;
}
#u1356_seg1 {
  position:absolute;
  left:-4px;
  top:24px;
  width:231px;
  height:8px;
}
#u1356_seg2 {
  position:absolute;
  left:219px;
  top:24px;
  width:8px;
  height:21px;
}
#u1356_seg3 {
  position:absolute;
  left:213px;
  top:31px;
  width:20px;
  height:21px;
}
#u1357 {
  position:absolute;
  left:56px;
  top:20px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1358_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1358 {
  position:absolute;
  left:1644px;
  top:806px;
  width:120px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1359 {
  position:absolute;
  left:2px;
  top:11px;
  width:116px;
  word-wrap:break-word;
}
#u1360_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1360 {
  position:absolute;
  left:1644px;
  top:881px;
  width:120px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1361 {
  position:absolute;
  left:2px;
  top:11px;
  width:116px;
  word-wrap:break-word;
}
#u1362 {
  position:absolute;
  left:1704px;
  top:782px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:11px;
  color:#999999;
}
#u1362_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:28px;
}
#u1362_seg1 {
  position:absolute;
  left:-10px;
  top:10px;
  width:20px;
  height:21px;
}
#u1363 {
  position:absolute;
  left:-50px;
  top:4px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1364 {
  position:absolute;
  left:1704px;
  top:846px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:11px;
  color:#999999;
}
#u1364_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:39px;
}
#u1364_seg1 {
  position:absolute;
  left:-10px;
  top:21px;
  width:20px;
  height:21px;
}
#u1365 {
  position:absolute;
  left:-50px;
  top:10px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1366 {
  position:absolute;
  left:1704px;
  top:921px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:11px;
  color:#999999;
}
#u1366_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:39px;
}
#u1366_seg1 {
  position:absolute;
  left:-10px;
  top:21px;
  width:20px;
  height:21px;
}
#u1367 {
  position:absolute;
  left:-50px;
  top:10px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1368_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:60px;
}
#u1368 {
  position:absolute;
  left:1644px;
  top:956px;
  width:120px;
  height:60px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1369 {
  position:absolute;
  left:2px;
  top:21px;
  width:116px;
  word-wrap:break-word;
}
#u1370_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1370 {
  position:absolute;
  left:1644px;
  top:1052px;
  width:120px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1371 {
  position:absolute;
  left:2px;
  top:11px;
  width:116px;
  word-wrap:break-word;
}
#u1372_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1372 {
  position:absolute;
  left:1815px;
  top:1052px;
  width:120px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1373 {
  position:absolute;
  left:2px;
  top:11px;
  width:116px;
  word-wrap:break-word;
}
#u1374 {
  position:absolute;
  left:1704px;
  top:1016px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:11px;
  color:#999999;
}
#u1374_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:40px;
}
#u1374_seg1 {
  position:absolute;
  left:-10px;
  top:22px;
  width:20px;
  height:21px;
}
#u1375 {
  position:absolute;
  left:-50px;
  top:10px;
  width:100px;
  word-wrap:break-word;
}
#u1376 {
  position:absolute;
  left:1764px;
  top:986px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:11px;
  color:#999999;
}
#u1376_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:115px;
  height:8px;
}
#u1376_seg1 {
  position:absolute;
  left:107px;
  top:-4px;
  width:8px;
  height:70px;
}
#u1376_seg2 {
  position:absolute;
  left:101px;
  top:52px;
  width:20px;
  height:21px;
}
#u1377 {
  position:absolute;
  left:38px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
}
#u1378 {
  position:absolute;
  left:1875px;
  top:1092px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:11px;
  color:#999999;
}
#u1378_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:30px;
}
#u1378_seg1 {
  position:absolute;
  left:-1549px;
  top:22px;
  width:1553px;
  height:8px;
}
#u1378_seg2 {
  position:absolute;
  left:-1549px;
  top:22px;
  width:8px;
  height:37px;
}
#u1378_seg3 {
  position:absolute;
  left:-1555px;
  top:44px;
  width:20px;
  height:21px;
}
#u1379 {
  position:absolute;
  left:-826px;
  top:18px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1380 {
  position:absolute;
  left:1131px;
  top:867px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:11px;
  color:#999999;
}
#u1380_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:255px;
}
#u1380_seg1 {
  position:absolute;
  left:-805px;
  top:247px;
  width:809px;
  height:8px;
}
#u1380_seg2 {
  position:absolute;
  left:-805px;
  top:247px;
  width:8px;
  height:37px;
}
#u1380_seg3 {
  position:absolute;
  left:-811px;
  top:269px;
  width:20px;
  height:21px;
}
#u1381 {
  position:absolute;
  left:-342px;
  top:242px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1382 {
  position:absolute;
  left:1269px;
  top:867px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:11px;
  color:#999999;
}
#u1382_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:255px;
}
#u1382_seg1 {
  position:absolute;
  left:-943px;
  top:247px;
  width:947px;
  height:8px;
}
#u1382_seg2 {
  position:absolute;
  left:-943px;
  top:247px;
  width:8px;
  height:37px;
}
#u1382_seg3 {
  position:absolute;
  left:-949px;
  top:269px;
  width:20px;
  height:21px;
}
#u1383 {
  position:absolute;
  left:-410px;
  top:242px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1384 {
  position:absolute;
  left:1405px;
  top:867px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:11px;
  color:#999999;
}
#u1384_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:255px;
}
#u1384_seg1 {
  position:absolute;
  left:-1079px;
  top:247px;
  width:1083px;
  height:8px;
}
#u1384_seg2 {
  position:absolute;
  left:-1079px;
  top:247px;
  width:8px;
  height:37px;
}
#u1384_seg3 {
  position:absolute;
  left:-1085px;
  top:269px;
  width:20px;
  height:21px;
}
#u1385 {
  position:absolute;
  left:-478px;
  top:242px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1386 {
  position:absolute;
  left:1535px;
  top:867px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:11px;
  color:#999999;
}
#u1386_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:253px;
}
#u1386_seg1 {
  position:absolute;
  left:-1209px;
  top:245px;
  width:1213px;
  height:8px;
}
#u1386_seg2 {
  position:absolute;
  left:-1209px;
  top:245px;
  width:8px;
  height:38px;
}
#u1386_seg3 {
  position:absolute;
  left:-1215px;
  top:269px;
  width:20px;
  height:21px;
}
#u1387 {
  position:absolute;
  left:-545px;
  top:241px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1388 {
  position:absolute;
  left:994px;
  top:867px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:11px;
  color:#999999;
}
#u1388_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:255px;
}
#u1388_seg1 {
  position:absolute;
  left:-668px;
  top:247px;
  width:672px;
  height:8px;
}
#u1388_seg2 {
  position:absolute;
  left:-668px;
  top:247px;
  width:8px;
  height:37px;
}
#u1388_seg3 {
  position:absolute;
  left:-674px;
  top:269px;
  width:20px;
  height:21px;
}
#u1389 {
  position:absolute;
  left:-273px;
  top:242px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1390 {
  position:absolute;
  left:553px;
  top:867px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:11px;
  color:#999999;
}
#u1390_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:253px;
}
#u1390_seg1 {
  position:absolute;
  left:-227px;
  top:245px;
  width:231px;
  height:8px;
}
#u1390_seg2 {
  position:absolute;
  left:-227px;
  top:245px;
  width:8px;
  height:38px;
}
#u1390_seg3 {
  position:absolute;
  left:-233px;
  top:269px;
  width:20px;
  height:21px;
}
#u1391 {
  position:absolute;
  left:-54px;
  top:241px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1392 {
  position:absolute;
  left:142px;
  top:867px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:11px;
  color:#999999;
}
#u1392_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:255px;
}
#u1392_seg1 {
  position:absolute;
  left:-4px;
  top:247px;
  width:196px;
  height:8px;
}
#u1392_seg2 {
  position:absolute;
  left:184px;
  top:247px;
  width:8px;
  height:37px;
}
#u1392_seg3 {
  position:absolute;
  left:178px;
  top:269px;
  width:20px;
  height:21px;
}
#u1393 {
  position:absolute;
  left:-50px;
  top:228px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1394 {
  position:absolute;
  left:279px;
  top:867px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:11px;
  color:#999999;
}
#u1394_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:255px;
}
#u1394_seg1 {
  position:absolute;
  left:-4px;
  top:247px;
  width:59px;
  height:8px;
}
#u1394_seg2 {
  position:absolute;
  left:47px;
  top:247px;
  width:8px;
  height:37px;
}
#u1394_seg3 {
  position:absolute;
  left:41px;
  top:269px;
  width:20px;
  height:21px;
}
#u1395 {
  position:absolute;
  left:-50px;
  top:159px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1396 {
  position:absolute;
  left:417px;
  top:867px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:11px;
  color:#999999;
}
#u1396_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:255px;
}
#u1396_seg1 {
  position:absolute;
  left:-91px;
  top:247px;
  width:95px;
  height:8px;
}
#u1396_seg2 {
  position:absolute;
  left:-91px;
  top:247px;
  width:8px;
  height:37px;
}
#u1396_seg3 {
  position:absolute;
  left:-97px;
  top:269px;
  width:20px;
  height:21px;
}
#u1397 {
  position:absolute;
  left:-50px;
  top:177px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1398 {
  position:absolute;
  left:330px;
  top:613px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:11px;
  color:#999999;
}
#u1398_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:51px;
}
#u1398_seg1 {
  position:absolute;
  left:-10px;
  top:33px;
  width:20px;
  height:21px;
}
#u1399 {
  position:absolute;
  left:-50px;
  top:16px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1400_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1400 {
  position:absolute;
  left:628px;
  top:827px;
  width:120px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1401 {
  position:absolute;
  left:2px;
  top:11px;
  width:116px;
  word-wrap:break-word;
}
#u1402 {
  position:absolute;
  left:330px;
  top:782px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:11px;
  color:#999999;
}
#u1402_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:32px;
}
#u1402_seg1 {
  position:absolute;
  left:-4px;
  top:24px;
  width:366px;
  height:8px;
}
#u1402_seg2 {
  position:absolute;
  left:354px;
  top:24px;
  width:8px;
  height:21px;
}
#u1402_seg3 {
  position:absolute;
  left:348px;
  top:31px;
  width:20px;
  height:21px;
}
#u1403 {
  position:absolute;
  left:124px;
  top:20px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1404 {
  position:absolute;
  left:688px;
  top:867px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:11px;
  color:#999999;
}
#u1404_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:255px;
}
#u1404_seg1 {
  position:absolute;
  left:-362px;
  top:247px;
  width:366px;
  height:8px;
}
#u1404_seg2 {
  position:absolute;
  left:-362px;
  top:247px;
  width:8px;
  height:36px;
}
#u1404_seg3 {
  position:absolute;
  left:-368px;
  top:269px;
  width:20px;
  height:21px;
}
#u1405 {
  position:absolute;
  left:-120px;
  top:243px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1406_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1406 {
  position:absolute;
  left:761px;
  top:827px;
  width:120px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1407 {
  position:absolute;
  left:2px;
  top:11px;
  width:116px;
  word-wrap:break-word;
}
#u1408_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FF0000;
}
#u1408 {
  position:absolute;
  left:1815px;
  top:742px;
  width:120px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FF0000;
}
#u1409 {
  position:absolute;
  left:2px;
  top:11px;
  width:116px;
  word-wrap:break-word;
}
